.*/__pycache__/.*.py[cod]$
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env   
*.DS_Store
*.vscode/
.venv/
config.ini
data/
db/
docs/
# Ignore Python bytecode files
__pycache__/
sessions/
node_modules/
package.json
package-lock.json
